.blink {
    animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
    0% { color: #cccccc }
    87% { color: #999999 }
    100% { color: #999999 }
}

#timeline {
    height: 200px;
    overflow-y: scroll;
}

#timeline li {
    height: 2em;
}
#timeline p {
    display: inline-block;
}

.message-entry {

}

.message-entry textarea {
    height: 2em;
    width: 400px;
}
.btn.cancel {
    border: none;
    background: transparent;
    color: #ff3333;
}
